@mixin Roboto-M {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

@mixin Roboto-M1 {
  font-size: 3.125rem;
  @include Roboto-M();
}

@mixin Roboto-M2 {
  font-size: 2.9688rem;
  @include Roboto-M();
}

@mixin Roboto-M3 {
  font-size: 2.8125rem;
  @include Roboto-M();
}

@mixin Roboto-M4 {
  font-size: 2.6563rem;
  @include Roboto-M();
}

@mixin Roboto-M5 {
  font-size: 2.5rem;
  @include Roboto-M();
}

@mixin Roboto-M6 {
  font-size: 2.3438rem;
  @include Roboto-M();
}

@mixin Roboto-M7 {
  font-size: 2.1875rem;
  @include Roboto-M();
}

@mixin Roboto-M8 {
  font-size: 2.0313rem;
  @include Roboto-M();
}

@mixin Roboto-M9 {
  font-size: 1.875rem;
  @include Roboto-M();
}

@mixin Roboto-M10 {
  font-size: 1.7188rem;
  @include Roboto-M();
}

@mixin Roboto-M11 {
  font-size: 1.5625rem;
  @include Roboto-M();
}

@mixin Roboto-M12 {
  font-size: 1.4063rem;
  @include Roboto-M();
}

@mixin Roboto-M13 {
  font-size: 1.25rem;
  @include Roboto-M();
}

@mixin Roboto-M14 {
  font-size: 1.0938rem;
  @include Roboto-M();
}

@mixin Roboto-M15 {
  font-size: 0.9375rem;
  @include Roboto-M();
}

@mixin Roboto-M16 {
  font-size: 0.7813rem;
  @include Roboto-M();
}

@mixin Roboto-M17 {
  font-size: 0.625rem;
  @include Roboto-M();
}

@mixin Roboto-M18 {
  font-size: 0.4688rem;
  @include Roboto-M();
}

@mixin Roboto-M19 {
  font-size: 0.3125rem;
  @include Roboto-M();
}
