@mixin Roboto-B {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@mixin Roboto-B1 {
  font-size: 3.125rem;
  @include Roboto-B();
}

@mixin Roboto-B2 {
  font-size: 2.9688rem;
  @include Roboto-B();
}

@mixin Roboto-B3 {
  font-size: 2.8125rem;
  @include Roboto-B();
}

@mixin Roboto-B4 {
  font-size: 2.6563rem;
  @include Roboto-B();
}

@mixin Roboto-B5 {
  font-size: 2.5rem;
  @include Roboto-B();
}

@mixin Roboto-B6 {
  font-size: 2.3438rem;
  @include Roboto-B();
}

@mixin Roboto-B7 {
  font-size: 2.1875rem;
  @include Roboto-B();
}

@mixin Roboto-B8 {
  font-size: 2.0313rem;
  @include Roboto-B();
}

@mixin Roboto-B9 {
  font-size: 1.875rem;
  @include Roboto-B();
}

@mixin Roboto-B10 {
  font-size: 1.7188rem;
  @include Roboto-B();
}

@mixin Roboto-B11 {
  font-size: 1.5625rem;
  @include Roboto-B();
}

@mixin Roboto-B12 {
  font-size: 1.4063rem;
  @include Roboto-B();
}

@mixin Roboto-B13 {
  font-size: 1.25rem;
  @include Roboto-B();
}

@mixin Roboto-B14 {
  font-size: 1.0938rem;
  @include Roboto-B();
}

@mixin Roboto-B15 {
  font-size: 0.9375rem;
  @include Roboto-B();
}

@mixin Roboto-B16 {
  font-size: 0.7813rem;
  @include Roboto-B();
}

@mixin Roboto-B17 {
  font-size: 0.625rem;
  @include Roboto-B();
}

@mixin Roboto-B18 {
  font-size: 0.4688rem;
  @include Roboto-B();
}

@mixin Roboto-B19 {
  font-size: 0.3125rem;
  @include Roboto-B();
}
