@import "/src/assets/fonts/fonts.module.scss";

.select {
  position: relative;
  // width: 200px;
  flex: 1;
  border: 1px solid var(--border-2);
  background-color: var(--background);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  p {
    @include Roboto-B15();
  }

}

.selectedOption {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  align-items: center;
  flex: 1;
  min-width: 7.5rem;
}

.options {
  @include Roboto-B15();
  display: block;
  position: absolute;
  width: 100%;
  background-color: var(--background);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  z-index: 5000000;
  
}

.option {
  padding: 8px 12px;

  &:hover {
    background-color: #f0f0f0;
  }
}
